@import "tailwindcss";

@theme {
  --color-primary: #1e3a8a;
  --color-primary-hover: #1e40af;
  --color-primary-light: #3b82f6;
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
    font-family: 'Outfit', sans-serif;
  }
}